<div class="table-div">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arr">
                <th>{{ item._id }}</th>
                <td>{{ item.fName + " "+item.lName}}</td>
                <td>{{ item.eMail }}</td>
                <td>{{ item.mobile}}</td>
                <td>{{ item.date}}</td>
                <td id="btn-td"><button type="button" (click)="editData(item._id)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>